.task{
  gap: 20px;
  /* border: 1px solid #7c7c7c; */
  padding: 10px;
  display: flex;
  position: relative;
  /* transform: translateY(-100%); */
  /* animation: move_task 0.5s ease forwards; */
  min-height: 90px;
  transition: background-color 0.4s ease, opacity 0.5s;
  border-radius: 5px;
  justify-content: space-between;
  background-color: var(--Principal-color);
}

@keyframes move_task {
  100%{
    transform: translateY(0);
  }
}

.completed{
  opacity: 60%;
}

.task div:nth-child(2){
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.link{
  width: auto;
}

.title{
  color: var(--Title-color);
  display: flex;
  column-gap: 4px;
  transition: color 0.5s;
  align-items: center;
  margin-bottom: 10px;
}

.icon{
  color: var(--Title-color);
  font-size: 20px;
  transition: color 0.5s;
}

.description{
  padding-left: 24px;
  color: var(--Text-color);
  transition: color 0.5s;
}

.checkbox{
  top: 0;
  right: 0;
}


@media (min-width: 600px){
  .checkbox input{
    cursor: pointer;
  }
}