.search{
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: 60px;
  position: fixed;
  transition: padding 0.5s, box-shadow 0.6s;
}

.open{
  padding-top: 60px;
  box-shadow: 0 4px 8px var(--Shadow-color);
}

.form{
  z-index: 10;
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.input{
  color: var(--Text-color);
  width: 100%;
  height: 100%;
  padding: 0 20px;
  outline: none;
  border: none;
  position: relative;
  font-size: 16px;
  border-radius: 0;
  transition: background-color 0.6s ease, color 0.5s;
  background-color: var(--Element-color);
}

.icon{
  color: var(--Text-color);
  right: 20px;
  font-size: 30px;
  position: absolute;
}

.suggestions{
  top: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: absolute;
  transition: top 0.5s, height 0.5s, padding 0.5s, background-color 0.6s ease, box-shadow 0.6s;
  background-color: var(--Element-color);
}

.open .suggestions{
  top: 60px;
}

.open .show-suggestions{
  height: 200px;
  padding-top: 50px;
  box-shadow: 0 4px 8px var(--Shadow-color);
}

.show-suggestions::after{
  top: 40px;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  transition: background-color 0.6s ease;
  background-color: var(--Border-color);
}

.suggestion{
  color: var(--Text-color);
  transition: color 0.5s;
  padding: 4px 20px;
}

.suggestion-text{
  font-size: bold;
}

.suggestion-body{
  transition: background-color 0.6s ease;
  background-color: var(--Suggestion-bg);
}


@media (min-width: 600px) {
  .icon, .suggestion{
    cursor: pointer;
  }

  .suggestion:hover{
    background-color: var(--Shadow-color);
  }
}