.task{
  height: 100vh;
  height: 100dvh;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.details{
  width: min(400px, 100%);
  padding: 26px 20px;
  row-gap: 25px;
  display: flex;
  box-shadow: -2px 5px 8px var(--Shadow-color);
  border-radius: 6px;
  flex-direction: column;
  transition: background-color 0.6s ease, box-shadow 0.6s;
  background-color: var(--Element-color);
}

.status{
  color: var(--Text-color);
  opacity: 70%;
  transition: color 0.5s;
  margin-bottom: 20px;
}

.option, .date-option{
  color: var(--Text-color);
  position: relative;
  transition: color 0.5s;
}

.option::after{
  left: 0;
  height: 2px;
  bottom: -13px;
  content: '';
  width: 100%;
  opacity: 40%;
  position: absolute;
  border-radius: 2px;
  background-color: var(--Title-color);
}

.title{
  opacity: 40%;
  font-size: 14px;
  font-weight: bold;
}

.content{
  padding-left: 10px;
}

.dates{
  display: flex;
  column-gap: 20px;
}

.date-option{
  width: 100%;
}

.buttons{
  display: flex;
  padding: 0 10px;
  column-gap: 20px;
  margin-top: 20px;
}

.buttons button{
  color: black;
  width: 100%;
  height: 38px;
  border: none;
  display: flex;
  font-size: 14px;
  transition: box-shadow 0.6s ease, background-color 0.6s ease;
  column-gap: 4px;
  font-weight: bold;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.update{
  box-shadow: 0 0 4px var(--Green-color);
  background-color: var(--Green-color);
}

.delete{
  box-shadow: 0 0 4px var(--Red-color);
  background-color: var(--Red-color);
}

.icon{
  font-size: 16px;
}


@media (min-width: 600px){
  .buttons button{
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.6s ease, background-color 0.6s ease;
  }

  .update:hover{
    transform: scale(1.05);
    box-shadow: -1px 2px 6px var(--Green-color);
  }

  .delete:hover{
    transform: scale(1.05);
    box-shadow: -1px 2px 6px var(--Red-color);
  }
}