.container{
  height: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.navImage{
  border: 1px solid #9e9e9e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userImage{
  border: 1px solid #9e9e9e;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-options{
  top: -390px;
  right: -120%;
  color: var(--Text-color);
  width: min(380px, 100%);
  height: 350px;
  display: flex;
  padding: 20px 20px 30px 20px;
  position: absolute;
  transform: scale(0.80);
  background-color: var(--Element-color);
  transition: top 0.5s, right 0.6s, transform 0.8s, background-color 0.6s, box-shadow 0.6s;
  box-shadow: -2px 5px 10px var(--Shadow-color);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 6px;
}

.open{
  top: 0;
  right: 0;
  transform: scale(1);
}

.icon{
  top: 16px;
  right: 20px;
  position: absolute;
  font-size: 30px;
  transition: color 0.5s;
}

.switch-theme{
  width: 70px;
  height: 34px;
  padding: 4px;
  box-shadow: inset -1px 2px 6px var(--Shadow-color);
  border-radius: 30px;
  background-color: var(--Background-color);
  transition: background-color 0.6s ease, box-shadow 0.6s;
}

.circle-theme{
  width: 26px;
  height: 26px;
  display: flex;
  transition: background-color 0.6s ease, transform 0.5s ease, box-shadow 0.6s;
  box-shadow: 2px 2px 14px var(--Circle-theme), 
    2px 2px 14px var(--Circle-theme);
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  background-color: var(--Circle-theme);
}

.dark{
  transform: translateX(36px);
}

.user-profile{
  display: flex;
  row-gap: 14px;
  align-items: center;
  flex-direction: column;
}

.user-name{
  text-align: center;
  font-weight: bold;
  transition: color 0.5s;
}

.link-profile, .user-link{
  width: 100%;
  height: 38px;
  display: flex;
  box-shadow: 0 0 6px var(--Principal-color);
  transition: box-shadow 0.4s, transform 0.4s ease, color 0.5s;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--Principal-color);
}

.user-other-links{
  width: 100%;
  display: flex;
  row-gap: 20px;
  position: relative;
  flex-direction: column;
}

.user-link:nth-child(2){
  box-shadow: 0 0 8px var(--Secondary-color);
  background-color: var(--Secondary-color);
}


@media (min-width: 600px) {
  .navImage, .icon, .switch-theme{
    cursor: pointer;
  }

  .user-options{
    transition: top 0.8s, right 0.9s, transform 0.11s, background-color 0.6s, box-shadow 0.6s;
  }

  .link-profile:hover, .user-link:hover{
    transform: scale(1.04);
    box-shadow: -2px 3px 8px var(--Principal-color);
  }
  
  .user-link:nth-child(2):hover{
    box-shadow: -2px 3px 6px var(--Secondary-color);
  }
}